.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.habitCard {
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid #ddd;
    padding:0 10px;
}


.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

button {
    padding:0 21px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s;
    font-size: 16px;
}

button:hover {
    filter: brightness(0.9);
}

.addBtn {
    background-color: #28a745;
    color: white;
}

.editBtn {
    background-color: #4158A6;
    color: white;
}

.deleteBtn {
    background-color: #B8001F;
    color: white;
}

.detailBtn {
    background-color: #FFC107;
    color: black;
}

.completedCheckbox {
    width: 45px;
    height: 45px;
    cursor: pointer;
    accent-color: green;
    align-self: center;
}

.habitCard.checked {
    background-color: #c8e3ce;
    border-color: #82ca93;
}